<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.admin.cmg.service.impl.ContentsManagementMapper">

	<select id="getEntList" resultType="kr.or.ddit.empt.enp.service.CompanyVO" parameterType="kr.or.ddit.empt.enp.service.CompanyVO" > 
		SELECT * FROM (
			SELECT ROWNUM AS RNUM, B.*
			FROM (
					SELECT
						  CP_ID
						, CP_NAME
						, CP_SCALE
						, CP_LOCATION_X
						, CP_LOCATION_Y
						, CP_DESCRIPTION
						, CP_WEBSITE
						, CP_BUSINO
						, CP_IMG_URL
						, FILE_GROUP_ID
						, CP_REGION
					FROM
						COMPANY
					<where>
						CP_ID IS NOT NULL
						<if test="keyword != null and keyword != '' and status == 1">
							AND (CP_NAME LIKE '%' || #{keyword} || '%' OR
							CP_REGION LIKE '%' || #{keyword} || '%' )
						</if>
						<if test="keyword != null and keyword != '' and status == 2">
							AND CP_NAME LIKE '%' || #{keyword} || '%'
						</if>
						<if test="keyword != null and keyword != '' and status == 3">
							AND CP_REGION LIKE '%' || #{keyword} || '%'
						</if>
					</where>
			ORDER BY CP_ID
			) B
			WHERE ROWNUM &lt;= #{endNo}
			)
			WHERE RNUM &gt;
			#{startNo}
	</select>
	
	<select id="getAllEntList" parameterType="kr.or.ddit.empt.enp.service.CompanyVO" resultType="int">
		SELECT COUNT(*)
		FROM   COMPANY
		<where>
			CP_ID IS NOT NULL
			<if test="keyword != null and keyword != '' and status == 1">
				AND (CP_NAME LIKE '%' || #{keyword} || '%' OR
				CP_REGION LIKE '%' || #{keyword} || '%' )
			</if>
			<if test="keyword != null and keyword != '' and status == 2">
				AND CP_NAME LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != null and keyword != '' and status == 3">
				AND CP_REGION LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	
</mapper>