<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.cnslt.resve.crsv.service.impl.CounselingReserveMapper">

	<!-- 최종 상담신청  -->
	<insert id="insertReservation" parameterType="kr.or.ddit.cnslt.resve.crsv.service.CounselingVO">
		INSERT
		    INTO counseling (
		        counsel_id,
		        mem_id,
		        counsel,
		        counsel_category,
		        counsel_method,
		        counsel_title,
		        counsel_description,
		        counsel_status,
		        counsel_req_datetime,
		        counsel_url_user,
		        counsel_url_cou,
		        counsel_created_at,
		        counsel_updated_at
		    )
		VALUES (COUNSEL_ID_SEQ.NEXTVAL,
		        #{memId},
		        #{counsel},
		        #{counselCategory},
		        #{counselMethod},
		        #{counselTitle},
		        #{counselDescription},
		        'S04001',
		        #{counselReqDatetime},
		        #{counselUrlUser},
		        #{counselUrlCou},
		        sysdate,
		        sysdate
		        )
	</insert>

	<!-- 회원 상담중복 검사 -->
    <select id="selectDuplicateCounselingByMemId" resultType="int" parameterType="kr.or.ddit.cnslt.resve.crsv.service.CounselingVO">
        SELECT count(*)
        FROM COUNSELING
        WHERE MEM_ID = #{memId}
        AND COUNSEL_REQ_DATETIME = #{counselReqDatetime}
        AND COUNSEL_STATUS IN ('S04001', 'S04003')
    </select>
    
    <!-- 상담사 예약  확인 -->
    <select id="selectReservationByCounselorAndTime" parameterType="kr.or.ddit.cnslt.resve.crsv.service.CounselingVO" resultType="int">
    SELECT count(*)
        FROM COUNSEL
        WHERE COUNSEL = #{counsel}
        AND COUNSEL_REQ_DATETIME = #{counselReqDatetime}
        AND COUNSEL_STATUS IN ('S04001', 'S04003')
    </select>
    
    <!-- {vaRequestor} 상담사 id로 검색 -->
    <select id="selectCounselorVacations" resultType="int" parameterType="kr.or.ddit.cnslt.resve.crsv.service.VacationVO">
        SELECT count(*)
        FROM VACATION
        WHERE VA_REQUESTOR = #{vaRequestor}
        AND VA_CONFIRM = 'S03003'  AND #{vaStart} BETWEEN VA_START AND VA_END
    </select>
    
    <update id="updateReservationStatus" parameterType="kr.or.ddit.cnslt.resve.crsv.service.CounselingVO">
        UPDATE COUNSELING
        SET COUNSEL_STATUS = #{counselStatus},
            COUNSEL_UPDATED_AT = SYSDATE
        WHERE COUNSEL_ID  = #{counselId}
    </update>
    
     <select id="selectBookedTimesByCounselorAndDate" resultType="java.util.Date" parameterType="kr.or.ddit.cnslt.resve.crsv.service.CounselingVO">
	    SELECT COUNSEL_REQ_DATETIME
	    FROM COUNSELING
	    WHERE COUNSEL = #{counsel}
	    AND TRUNC(COUNSEL_REQ_DATETIME) = TRUNC(#{counselReqDatetime, jdbcType=DATE})
	    AND COUNSEL_STATUS IN ('S04001', 'S04003')
    </select>
    
    <!-- 상담사 목록 가져오기 -->
	    <select id="selectCounselorList" resultType="kr.or.ddit.main.service.MemberVO">
	    select MEM_ID, MEM_NICKNAME, MEM_NAME, MEM_GEN, MEM_ROLE, MEM_EMAIL
			from MEMBER
			where MEM_ROLE = 'R01003'
    </select>
    
    <!-- 상담목적 가져오기 -->
    <select id="selectCounselCategoryList" resultType="kr.or.ddit.com.ComCodeVO">
	    select CC_ID, CC_NAME
			from COM_CODE
			where CL_CODE = 'G07'
    </select>
    
    <!-- 상담방법 가져오기 -->
    <select id="selectCounselMethodList" resultType="kr.or.ddit.com.ComCodeVO">
	    select CC_ID, CC_NAME
			from COM_CODE
			where CL_CODE = 'G08'
	</select>
</mapper>
