<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.admin.csmg.service.impl.CounselManagementMapper">
	<select id="selectMonthlyCounselingStatList" resultType="map">
		 SELECT
	        SUM(CASE WHEN TRUNC(COUNSEL_REQ_DATETIME, 'MM') = TRUNC(SYSDATE, 'MM') THEN 1 ELSE 0 END) AS current_month_total,
	        SUM(CASE WHEN TRUNC(COUNSEL_REQ_DATETIME, 'MM') = TRUNC(SYSDATE, 'MM') AND COUNSEL_METHOD = 'G08001' THEN 1 ELSE 0 END) AS current_month_face_to_face,
	        SUM(CASE WHEN TRUNC(COUNSEL_REQ_DATETIME, 'MM') = TRUNC(SYSDATE, 'MM') AND COUNSEL_METHOD = 'G08002' THEN 1 ELSE 0 END) AS current_month_chat,
	        SUM(CASE WHEN TRUNC(COUNSEL_REQ_DATETIME, 'MM') = TRUNC(SYSDATE, 'MM') AND COUNSEL_METHOD = 'G08003' THEN 1 ELSE 0 END) AS current_month_video,
	        
	
	        SUM(CASE WHEN TRUNC(COUNSEL_REQ_DATETIME, 'MM') = TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM') THEN 1 ELSE 0 END) AS previous_month_total,
	        SUM(CASE WHEN TRUNC(COUNSEL_REQ_DATETIME, 'MM') = TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM') AND COUNSEL_METHOD = 'G08001' THEN 1 ELSE 0 END) AS previous_month_face_to_face,
	        SUM(CASE WHEN TRUNC(COUNSEL_REQ_DATETIME, 'MM') = TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM') AND COUNSEL_METHOD = 'G08002' THEN 1 ELSE 0 END) AS previous_month_chat,
	        SUM(CASE WHEN TRUNC(COUNSEL_REQ_DATETIME, 'MM') = TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM') AND COUNSEL_METHOD = 'G08003' THEN 1 ELSE 0 END) AS previous_month_video
	    FROM
	        COUNSELING
	    WHERE
	        TRUNC(COUNSEL_REQ_DATETIME, 'MM') IN (TRUNC(SYSDATE, 'MM'), TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM'))
	</select>
	
	
	<select id="selectCounselorStatTotalCount" parameterType="map" resultType="int">
	    SELECT
	        COUNT(*)
	    FROM
	        MEMBER a
	    WHERE
	        a.MEM_ROLE = 'R01003'
	    <if test="keyword != null and keyword != ''">
	        AND a.MEM_NAME LIKE '%' || #{keyword} || '%'
	    </if>
	</select>
	
	<select id="selectCounselorStatList" parameterType="map" resultType="map">
	    SELECT
		        *
		    FROM (
		        SELECT
		            t1.*,
		            ROWNUM AS RNUM
		        FROM
		            (
		                SELECT
		                    a.MEM_ID,
		                    a.MEM_NAME,
		                    COUNT(b.COUNSEL_ID) AS COUNSEL_COUNT,
		                    ROUND(AVG(c.CR_RATE)) AS RATING_AVERAGE
		                FROM
		                    MEMBER a
		                JOIN
		                    COUNSELING b ON a.MEM_ID = b.COUNSEL
		                LEFT JOIN
		                    COUNSELING_REVIEW c ON b.COUNSEL_ID = c.CR_ID
		                WHERE
		                    a.MEM_ROLE = 'R01003'
		                <if test="keyword != null and keyword != ''">
		                    AND a.MEM_NAME LIKE '%' || #{keyword} || '%'
		                </if>
		                GROUP BY
		                    a.MEM_ID, a.MEM_NAME
		                ORDER BY
		                <choose>
		                    <when test="sortBy == 'MEM_ID'">
		                        a.MEM_ID
		                    </when>
		                    <when test="sortBy == 'MEM_NAME'">
		                        a.MEM_NAME
		                    </when>
		                    <when test="sortBy == 'COUNSEL_COUNT'">
		                        COUNSEL_COUNT
		                    </when>
		                    <when test="sortBy == 'RATING_AVERAGE'">
		                        RATING_AVERAGE
		                    </when>
		                    <otherwise>
		                        a.MEM_ID
		                    </otherwise>
		                </choose>
		                <if test="sortOrder != null and sortOrder != ''">
		                    ${sortOrder}
		                </if>
		            ) t1
		        WHERE ROWNUM <![CDATA[<]]>= #{endNo}
		    ) t2
		    WHERE RNUM <![CDATA[>=]]> #{startNo}
	</select>

</mapper>