<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.empt.ivfb.service.impl.InterviewFeedbackMapper">

	<select id="selectCompanyList" resultType="kr.or.ddit.empt.enp.service.CompanyVO" parameterType="string"> 
		SELECT
		    CP_ID
		    , CP_NAME
		    , (
		    	SELECT
		    		CC_NAME
		    	FROM
		    		COM_CODE
		    	WHERE
		    		CC_ID = CP_SCALE
		    ) AS CP_SCALE
		    , SUBSTR(CP_REGION, 0, 2) AS CP_REGION
		FROM
		    COMPANY
		<if test="cpName != null and cpName != ''">
        WHERE
            CP_NAME LIKE '%' || #{cpName} || '%'
		</if>
	</select>
	
	<update id="updateInterViewFeedback" parameterType="kr.or.ddit.empt.enp.service.InterviewReviewVO">
		MERGE INTO
			INTERVIEW_REVIEW A
		USING DUAL
		ON (IR_ID = #{irId})
			WHEN MATCHED THEN
				UPDATE SET
					A.IR_CONTENT = #{irContent}
					, A.IR_RATING = #{irRating}
					, A.IR_APPLICATION = #{irApplication}
					, A.IR_INTERVIEW_AT = #{irInterviewAt}
					, A.IR_MOD_AT = SYSDATE
					, A.IR_STATUS = #{irStatus}
			WHEN NOT MATCHED THEN
				INSERT(
				    IR_ID
				    , MEM_ID
				    , IR_TYPE
				    , TARGET_ID
				    , IR_CONTENT
				    , IR_CREATED_AT
				    , IR_MOD_AT
				    , IR_RATING
				    , IR_APPLICATION
				    , IR_INTERVIEW_AT
				    , IR_STATUS
				) VALUES (
					(SELECT NVL(MAX(IR_ID), 0) + 1 FROM INTERVIEW_REVIEW)
					, #{memId}
					, #{irType}
					, #{targetId}
					, #{irContent}
					, SYSDATE
					, SYSDATE
					, #{irRating}
					, #{irApplication}
					, #{irInterviewAt}
					, 'S06002'
				)
	</update>

</mapper>