<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.cdp.sint.service.impl.SelfIntroMapper">
<!-- 리스트 조회 쿼리 -->
<select id="selectSelfIntroQList" parameterType="kr.or.ddit.cdp.sint.service.SelfIntroQVO" resultType="kr.or.ddit.cdp.sint.service.SelfIntroQVO">
    SELECT * FROM (
        SELECT ROWNUM AS RNUM, B.*
        FROM (
            SELECT SIQ_ID, SIQ_JOB, SIQ_CONTENT
            FROM SELF_INTRO_Q
            <where>
                <if test="keyword != null and keyword != ''">
                    AND SIQ_CONTENT LIKE '%' || #{keyword} || '%'
                </if>
                <if test="siqJobFilter != null and siqJobFilter != ''">
                    AND SIQ_JOB = #{siqJobFilter}
                </if>
            </where>
            ORDER BY SIQ_ID 
        ) B
        WHERE ROWNUM &lt;= #{endRow}
    )
    WHERE RNUM &gt;= #{startRow}
</select>

<!-- 갯수 조회 하기  -->
<select id="selectSelfIntroQCount" parameterType="kr.or.ddit.cdp.sint.service.SelfIntroQVO" resultType="int">
    SELECT COUNT(*)
    FROM SELF_INTRO_Q
    <where>
        <if test="keyword != null and keyword != ''">
            AND SIQ_CONTENT LIKE '%' || #{keyword} || '%'
        </if>
        <if test="siqJobFilter != null and siqJobFilter != ''">
            AND SIQ_JOB = #{siqJobFilter}
        </if>
    </where>
</select>

<!-- 자소서 직종 공통코드 가져오기 -->
<select id="selectSelfIntroComCodeList" resultType="kr.or.ddit.com.ComCodeVO">
	SELECT CC_ID, CL_CODE, CC_NAME
	FROM COM_CODE
	WHERE CL_CODE ='G36'
	ORDER BY 1
</select>

</mapper>