<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.ertds.univ.dpsrch.service.impl.UnivDeptMapper">

	<select id="selectUnivDeptList" parameterType="kr.or.ddit.ertds.univ.dpsrch.service.UnivDeptVO" resultType="kr.or.ddit.ertds.univ.dpsrch.service.UnivDeptVO">
		SELECT *
		FROM (
			SELECT sub.*, ROWNUM AS RNUM
			FROM ( 
				SELECT
					UDD_ID
				    , COALESCE(CC1.CC_NAME, UDD_L_CLASS) AS UDD_L_CLASS
				    , COALESCE(CC2.CC_NAME, UDD_M_CLASS) AS UDD_M_CLASS
				    , UDD_SUM
				    , UDD_INTEREST
				    , UDD_PROPERTY
				    , UDD_JOB_LIST
				    , UDD_LI_LIST
				FROM UNIV_DEPT_DETAIL UD
				LEFT JOIN COM_CODE CC1 ON UD.UDD_L_CLASS = CC1.CC_ID
				LEFT JOIN COM_CODE CC2 ON UD.UDD_M_CLASS = CC2.CC_ID
				<where>
					<if test="keyword != null and keyword != ''">
		                AND (UD.UDD_M_CLASS LIKE '%' || #{keyword} || '%')
		            </if>
		            <if test="lClass != null and lClass.size() > 0">
			            AND (
			            <foreach collection="lClass" item="id" separator="OR">
			                UD.UDD_L_CLASS = #{id}
			            </foreach>
			            )
			        </if>
		            <if test="mClass != null and mClass.size() > 0">
			            AND (
			            <foreach collection="mClass" item="id" separator="OR">
			                UD.UDD_M_CLASS = #{id}
			            </foreach>
			            )
			        </if>
		        </where>
		        ORDER BY UD.UDD_ID
		
			) sub
			WHERE ROWNUM <![CDATA[<=]]> #{endNo}
		)
		WHERE RNUM <![CDATA[>]]> #{startNo}
	</select>
	
	<select id="selectUniversityTotalCount" resultType="int" parameterType="kr.or.ddit.ertds.univ.uvsrch.service.UniversityVO">
	  SELECT COUNT(*)
	  FROM UNIV_DEPT UD
		<where>
			<if test="keyword != null and keyword != ''">
				AND (UD.UDD_M_CLASS LIKE '%' || #{keyword} || '%')
			</if>
			<if test="lClass != null and lClass.size() > 0">
				AND (
				<foreach collection="lClass" item="id" separator="OR">
					UD.UDD_L_CLASS = #{id}
				</foreach>
				)
			</if>
			<if test="mClass != null and mClass.size() > 0">
				AND (
				<foreach collection="mClass" item="id" separator="OR">
					UD.UDD_M_CLASS = #{id}
				</foreach>
				)
			</if>
		</where>
	</select>
	
	<select id="selectBookMarkVO" parameterType="kr.or.ddit.mpg.mat.bmk.service.BookMarkVO" resultType="kr.or.ddit.mpg.mat.bmk.service.BookMarkVO">
		SELECT BM_ID, MEM_ID, BM_CATEGORY_ID, BM_TARGET_ID
		FROM BOOKMARK
		WHERE MEM_ID = #{memId}
		AND BM_CATEGORY_ID =#{bmCategoryId}
	</select>
	
	<select id="selectCodeVOUnivDeptLClassList" resultType="kr.or.ddit.com.ComCodeVO">
		select CC_ID, CL_CODE, CC_NAME, CC_ETC
		from COM_CODE
		where CL_CODE = 'G18'
	</select>
	
	<select id="selectCodeVOUnivDeptMClassList" resultType="kr.or.ddit.com.ComCodeVO">
		select CC_ID, CL_CODE, CC_NAME, CC_ETC
		from COM_CODE
		where CL_CODE = 'G19'
	</select>

</mapper>