@charset "UTF-8";

/*******************************상담사 관리-1 시작 *************************************/
.cnsMng-1 {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.cnsMng-1-1 {
	width: 100%;
	padding: 24px;
	height: 210px;
}

.sparkline-container {
	position: absolute;
	right: 10px;
	width: 250px; 
	height: 150px; 
	padding: 10px;
}
/*******************************상담사 관리-1 끝 *************************************/

/*******************************상담사 관리-2 시작 *************************************/
.cnsMng-2 {
	display: flex;
	gap: 20px;
}

.cnsMng-2-1 {
	width: 100%;
	height: 600px;
}

/*******************************상담사 관리-2 끝 *************************************/